apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "livekit-server.fullname" . }}
  labels:
    {{- include "livekit-server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "livekit-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "livekit-server.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "livekit-server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      terminationGracePeriodSeconds: 18000 # 5 hours
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LIVEKIT_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: {{ include "livekit-server.fullname" . }}
                  key: config.yaml
            {{- if and .Values.livekit.turn.enabled .Values.livekit.turn.tls_port }}
            - name: LIVEKIT_TURN_CERT
              value: /etc/lkcert/tls.crt
            - name: LIVEKIT_TURN_KEY
              value: /etc/lkcert/tls.key
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.livekit.port }}
              protocol: TCP
            {{- if .Values.livekit.rtc.udp_port }}
            - name: rtc-udp
              containerPort: {{ .Values.livekit.rtc.udp_port }}
              hostPort: {{ .Values.livekit.rtc.udp_port }}
              protocol: UDP
            {{- end }}
            {{- if .Values.livekit.rtc.tcp_port }}
            - name: rtc-tcp
              containerPort: {{ .Values.livekit.rtc.tcp_port }}
              hostPort: {{ .Values.livekit.rtc.tcp_port }}
              protocol: TCP
            {{- end }}
            {{- if .Values.livekit.turn.enabled }}
            {{- if .Values.livekit.turn.tls_port }}
            - name: turn-tls
              containerPort: {{ .Values.livekit.turn.tls_port }}
              hostPort: {{ .Values.livekit.turn.tls_port }}
              protocol: UDP
            {{- end }}
            {{- if .Values.livekit.turn.udp_port }}
            - name: turn-udp
              containerPort: {{ .Values.livekit.turn.udp_port }}
              hostPort: {{ .Values.livekit.turn.udp_port }}
              protocol: UDP
            {{- end }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if and .Values.livekit.turn.enabled .Values.livekit.turn.tls_port }}
          volumeMounts:
            - name: lkturncert
              mountPath: /etc/lkcert
              readOnly: true
          {{- end }}
      {{- if and .Values.livekit.turn.enabled .Values.livekit.turn.tls_port }}
      volumes:
        - name: lkturncert
          secret:
            secretName: {{ required "tls secret required if turn enabled" .Values.livekit.turn.secretName }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
